[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tqdm = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
web3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
